
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 600;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 320px;
    max-width: 100%;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    
}

.button {
    width: 75px;
    height: 75px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-right: 10px;
}

.button:hover {
    background-color: #e0e0e0;
}

.button.arrow {
    width:155px;
    font-size: 30px;
}

/* Adjust button styles as needed */

